---
import MainLayout from '@layouts/MainLayout.astro';
const seoMetadata: SeoMetadata = {
	title: 'Blog',
	description: 'Find answers to questions am frequently asked.'
};
---

<MainLayout {...seoMetadata}>
	<h1>Blog</h1>
</MainLayout>

<style lang="scss"></style>
