---
---

<section class="hero">
	<h1 class="hero__title">I create conversion optimized marketing and e-commerce websites.</h1>
	<div class="hero__copy">
		<p class="description">Hi, Iam Shindra David, a web developer based in Uganda</p>
		<a href="/" class="cta">contact me</a>
	</div>
</section>
