---
---

<section class="hero">
	<div class="hero__copy">
		<h1 class="title">Conversion optimized websites that drive sales.</h1>
		<div class="description">
			<p>Hi, Iam Shindra David, a freelance web developer based in Uganda</p>
			<ul aria-label="kinds of websites i make">
				<li>E-commerce websites.</li>
				<li>Marketing websites.</li>
			</ul>
			<a href="/contact">contact me</a>
		</div>
	</div>
	<div class="hero__portfolio"></div>
</section>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;

	.hero {
		--bg-primary: var(--accent-color);
		--bg-btn: #{$gray-900};
		--txt-primary: #{$gray-900};
		--txt-secondary: #{$gray-900};
		--txt-btn: #{$gray-50};

		background-color: var(--bg-primary);
		color: var(--txt-secondary);
		padding: $spacing-lg 0;
		@include page-lr-padding;

		&__copy {
			@include screen-lg {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			.description {
				a {
					display: inline-block;
					margin: $spacing-sm 0;
					@include btn-primary;
				}
			}
		}
	}
</style>
