@use './abstracts/variables' as *;

.tag {
	width: fit-content;
	font-size: var(--fs-sm);
	font-weight: 600;
	line-height: 1;
	padding: $spacing-xs $spacing-sm;
}

.tag-html {
	background-color: #e44d26;
	color: #ffffff;
}

.tag-css {
	background-color: #264de4;
	color: #ffffff;
}

.tag-scss {
	background-color: #cc6699;
	color: #ffffff;
}

.tag-javascript {
	background: #f0db4f;
	color: black;
}

.tag-typescript {
	background: #2775c3;
	color: white;
}

.tag-python {
	color: #ffda5d;
	background: #3879ab;
}

.tag-svelte {
	color: #ffffff;
	background: #ff3e00;
}

.tag-sveltekit {
	color: #ffffff;
	background: #ff3e00;
}

.tag-node {
	background: #90c53f;
	color: #46483d;
}

.tag-angular {
	background: #dc0530;
	color: #fff;
}
