@use './abstracts/variables' as *;

.tag {
	width: fit-content;
	font-size: var(--fs-sm);
	font-weight: 600;
	line-height: 1;
	padding: $spacing-xs $spacing-sm;
	box-shadow: var(--shadow-sm);
	border-radius: $radius-xs;
}

.tag-html {
	background-color: #e44d26;
	color: #000000;
}

.tag-css {
	background-color: #5276ff;
	color: #000000;
}

.tag-scss {
	background-color: #cc6699;
	color: #000000;
}

.tag-javascript {
	background: #f0db4f;
	color: black;
}

.tag-typescript {
	background: #2775c3;
	color: white;
}

.tag-python {
	color: #ffda5d;
	background: #1b6299;
}

.tag-svelte {
	color: #000000;
	background: #ff3e00;
}

.tag-sveltekit {
	color: #000000;
	background: #ff3e00;
}

.tag-node {
	background: #90c53f;
	color: #46483d;
}

.tag-angular {
	background: #dd1919;
	color: #ffffff;
}
