@use 'sass:color';
@use './abstracts/mixins' as *;
@use './abstracts/pallette' as *;

:root {
	/* background-color */
	--bg-primary: #{$gray-900};
	--bg-secondary: #{$gray-800};
	--bg-tertiary: #{$gray-700};
	--bg-code: #{$gray-800};
	--bg-ok: ;
	--bg-info: ;
	--bg-warning: ;
	--bg-danger: ;
	/* text-color */
	--txt-primary: #{$gray-0};
	--txt-secondary: #{$gray-50};
	--txt-tertiary: #{$gray-100};
	--txt-btn: ;
	--txt-ok: ;
	--txt-info: ;
	--txt-warning: ;
	--txt-danger: ;
	/* shadows */
	--shadow-xs: 0 1px 4px #{$shadow-color};
	--shadow-sm: 0 2px 8px #{$shadow-color};
	--shadow-md: 0 4px 16px #{$shadow-color};
	--shadow-lg: 0 8px 24px #{$shadow-color};

	--divider: #{color.adjust($gray-200, $alpha: -0.2)};
	/* brand colors */
	--accent-color: hsl(44, 100%, 55%);
}

/* width */
::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}

/* track */
::-webkit-scrollbar-track {
	background: none;
}

/* handle */
::-webkit-scrollbar-thumb {
	background-color: var(--bg-tertiary);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--bg-tertiary);
}

@include screen-lg {
	/* width */
	::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}
}

body {
	color: var(--txt-secondary);
	background-color: var(--bg-primary);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--txt-primary);
}
