@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Inter:wght@400;500;600&family=Merriweather:wght@400;700&display=swap');

:root {
	/* font-family */
	--ff-serif: 'Merriweather', sans-serif;
	--ff-sans: 'Inter', Helvetica, Arial, sans-serif;
	--ff-mono: 'Fira Code', 'Fira Mono', monospace;
	--ff-body: var(--ff-sans);
	--ff-heading: var(--ff-serif);
	/* font-size */
	font-size: 62.5%;
	--fs-xs: 1.2rem;
	--fs-sm: 1.4rem;
	--fs-base: 1.6rem;
	--fs-md: 1.8rem;
	--fs-lg: 2.4rem;
	--fs-xl: 3.2rem;
	--fs-2xl: 4.8rem;

	@include screen-md {
		--fs-xs: 1.4rem;
		--fs-sm: 1.6rem;
		--fs-base: 1.8rem;
		--fs-md: 2.4rem;
		--fs-lg: 3.2rem;
		--fs-xl: 4.8rem;
		--fs-2xl: 5.6rem;
	}

	@supports (font-size: clamp(1.6rem, 1.536rem + 0.18vw, 1.8rem)) {
		--fs-xs: clamp(1.2rem, 1.136rem + 0.18vh, 1.4rem);
		--fs-sm: clamp(1.4rem, 1.22rem + 0.18vh, 1.6rem);
		--fs-base: clamp(1.6rem, 1.536rem + 0.18vw, 1.8rem);
		--fs-md: clamp(1.8rem, 1.776rem + 0.71vw, 2.4rem);
		--fs-lg: clamp(2.4rem, 2rem + 1.07vw, 3.2rem);
		--fs-xl: clamp(3.2rem, 2.22rem + 1.79vw, 4.8rem);
		--fs-2xl: clamp(4.8rem, 2.22rem + 1.79vw, 5.6rem);
	}
}

body {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	line-height: 1.6;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: var(--fs-base);
	font-family: var(--ff-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	font-family: var(--ff-heading);
}

h1 {
	font-size: var(--fs-xl);
	font-weight: 600;
	margin: $spacing-sm 0;
}

h2 {
	font-size: var(--fs-lg);
	font-weight: 600;
	margin: $spacing-2xl 0 $spacing-sm 0;
}

h3 {
	font-size: var(--fs-md);
	font-weight: 400;
	margin: $spacing-md 0 $spacing-sm 0;
}

:where(h2, h3, h4, h5, h6) {
	.icon-link {
		position: relative;

		&::before {
			content: '#';
			font-family: var(--ff-sans);
			font-size: inherit;
			position: absolute;
			left: 1ch;
			top: 0;
			line-height: 1;
			opacity: 0;
			text-decoration: none;
			color: var(--txt-muted);
		}
	}

	&:hover .icon-link::before {
		opacity: 1;
	}
}
