---
import BaseLayout from '@layouts/BaseLayout.astro';

const seoMetadata: SeoMetadata = {
	title: '404 - Not Found',
	description: 'The page you were looking for was not found'
};

const schema = JSON.stringify({});
---

<BaseLayout {...seoMetadata} schema={schema}>
	<h1>404 - Not Found</h1>
</BaseLayout>

<style lang="scss"></style>
