---
import MainLayout from '@layouts/MainLayout.astro';

const seoMetadata: SeoMetadata = {
	title: '404 - Not Found',
	description: 'The page you were looking for was not found'
};
---

<MainLayout {...seoMetadata}>
	<h1>404 - Not Found</h1>
</MainLayout>

<style lang="scss"></style>
