---
import BaseLayout from '@layouts/BaseLayout.astro';

const seoMetadata: SeoMetadata = {
	title: "Let's connect",
	description: 'Find answers to questions am frequently asked.'
};

const schema = JSON.stringify([
	{
		'@context': 'http://schema.org',
		'@graph': [
			{
				'@type': 'WebSite',
				name: 'Shindra David',
				url: Astro.site
			},
			{
				'@type': 'Organization',
				name: 'Food Network',
				url: 'https://www.foodnetwork.com'
			}
		]
	}
]);
---

<BaseLayout {...seoMetadata} schema={schema}>
	<h1>Contact</h1>
</BaseLayout>

<style lang="scss"></style>
