---
// types
// layouts
import BaseLayout from '@layouts/BaseLayout.astro';
// components
import Hero from '@components/hero/Hero.astro';
import LatestArticles from '@components/article/LatestArticles.astro';
// lib
// state
const articles = await Astro.glob<ArticleFrontmatter>('./blog/**/*.mdx');
const seoMetadata: SeoMetadata = {
	title: 'Shindra David',
	description: 'Web developer and consultant based in Uganda'
};

import '@styles/global.scss';

const schema = JSON.stringify([
	{
		'@context': 'http://schema.org',
		'@graph': [
			{
				'@type': 'WebSite',
				name: 'Shindra David',
				url: Astro.site
			},
			{
				'@type': 'WebPage',
				name: 'Shindra David',
				url: Astro.site,
				datePublished: '',
				dateModified: '',
				mainEntity: {
					'@type': 'Person',
					name: 'Shindra David',
					image: '[image url of person]',
					jobTitle: 'Web developer',
					telephone: '+256702557298',
					email: 'mailto:shindradavid.dev@gmail.com',
					sameAs: [
						'https://twitter.com/shindradavid',
						'https://www.linkedin.com/in/shindradavid',
						'https://github.com/shindradavid'
					],
					nationality: {
						'@type': 'Country',
						name: 'Uganda',
						sameAs: 'https://en.wikipedia.org/wiki/Uganda'
					},
					gender: {},
					makesOffer: {
						'@type': 'Offer',
						itemOffered: {
							'@type': 'Service',
							name: 'Web development',
							sameAs: 'https://en.wikipedia.org/wiki/Web_development',
							areaServed: 'Worldwide',
							hasOfferCatalog: {
								'@type': 'OfferCatalog',
								itemListElement: [
									{
										'@type': 'Offer',
										itemOffered: {
											'@type': 'Service',
											name: 'Ecommerce website development'
										}
									},
									{
										'@type': 'Offer',
										itemOffered: {
											'@type': 'Service',
											name: 'Marketing website development'
										}
									},
									{
										'@type': 'Offer',
										itemOffered: {
											'@type': 'Service',
											name: 'Landing page development'
										}
									}
								]
							}
						}
					}
				}
			}
		]
	}
]);
---

<BaseLayout {...seoMetadata} schema={schema}>
	<main>
		<Hero />
		<LatestArticles articles={articles} />
	</main>

	<style lang="scss">
		@use 'src/styles/abstracts/mixins' as *;
		@use 'src/styles/abstracts/pallette' as *;
		@use 'src/styles/abstracts/variables' as *;
	</style>
</BaseLayout>
