---
// types
// layouts
import MainLayout from '@layouts/MainLayout.astro';
// components
import Hero from '@components/hero/Hero.astro';
import LatestArticles from '@components/article/LatestArticles.astro';
// lib
// state
const articles = await Astro.glob<ArticleFrontmatter>('./blog/**/*.mdx');
const seoMetadata: SeoMetadata = {
	title: 'Shindra David',
	description: 'Web developer and consultant based in Uganda'
};
---

<MainLayout {...seoMetadata}>
	<main>
		<Hero />
		<LatestArticles articles={articles} />
	</main>
</MainLayout>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;

	main {
		@include page-lr-padding;
	}
</style>
