---
// types
// layouts
import MainLayout from '@layouts/MainLayout.astro';
// components
import ArticleCard from '@components/ArticleCard.astro';
// lib
// state
const articles = await Astro.glob<ArticleFrontmatter>('./blog/**/*.mdx');
const seoMetadata: SeoMetadata = {
	title: 'Shindra David',
	description: 'Web developer and consultant based in Uganda'
};
---

<MainLayout {...seoMetadata}>
	<h1>Astro</h1>
	<section>
		<header>
			<h2>Latest blog articles</h2>
			<a href="/blog" aria-label="see more articles">
				see more <span class="sr-only">articles</span>
			</a>
		</header>
		{
			articles.length ? (
				articles.map(({ url, frontmatter }) => <ArticleCard url={url} {...frontmatter} />)
			) : (
				<p>No article yet</p>
			)
		}
	</section>
</MainLayout>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;

	section {
		@include page-lr-padding;
	}
</style>
