---
interface Frontmatter {
	title: string;
	description: string;
	readingTime: string;
}

import MainLayout from '@layouts/MainLayout.astro';

const articles = await Astro.glob<Frontmatter>('./blog/**/*.mdx');
---

<MainLayout>
	<h1>Astro</h1>
	<ul>
		{
			articles.length &&
				articles.map(({ url, frontmatter }) => (
					<li>
						<a href={url && url}>{frontmatter.title}</a>
						<p>{frontmatter.readingTime}</p>
					</li>
				))
		}
	</ul>
</MainLayout>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;
</style>
