---
// types
interface ArticleFrontmatter {
	title: string;
	description: string;
	readingTime: string;
	publishedOn: string;
	tags: string[];
}
// layouts
import MainLayout from '@layouts/MainLayout.astro';
// components
import ArticleCard from '@components/ArticleCard.astro';
// lib
// state
const articles = await Astro.glob<ArticleFrontmatter>('./blog/**/*.mdx');
---

<MainLayout>
	<h1>Astro</h1>
	<section>
		<header>
			<h2>Latest blog articles</h2>
			<a href="/blog">see more</a>
		</header>
		{
			articles.length ? (
				articles.map(({ url, frontmatter }) => <ArticleCard url={url} {...frontmatter} />)
			) : (
				<p>No article yet</p>
			)
		}
	</section>
</MainLayout>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;
</style>
