<div itemscope itemtype="https://schema.org/Service">
	<meta itemprop="serviceType" content="Web development" />
	<span itemprop="provider" itemscope itemtype="https://schema.org/LocalBusiness">
		<span itemprop="name">Shindra David</span>
	</span>
	<meta itemprop="providerMobility" content="dynamic" />
	offers a variety of services in
	<span itemprop="areaServed" itemscope itemtype="https://schema.org/State">
		<span itemprop="name">Uganda</span>, including
	</span>
	<ul itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
			<div itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
				<meta itemprop="image" content="" />
				<meta itemprop="sameAs" content="https://en.wikipedia.org/wiki/Landing_page" />
				<span itemprop="name">Landing page design</span>
			</div>
		</li>
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
			<div itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
				<meta itemprop="image" content="" />
				<meta itemprop="sameAs" content="https://en.wikipedia.org/wiki/Landing_page" />
				<span itemprop="name">Ecommerce website design</span>
			</div>
		</li>
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
			<div itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
				<meta itemprop="image" content="" />
				<meta itemprop="sameAs" content="https://en.wikipedia.org/wiki/Landing_page" />
				<span itemprop="name">Marketing website design</span>
			</div>
		</li>
	</ul>
</div>
