---
import LocalTime from '@components/LocalTime.svelte';
---

<footer class="footer">
	<div class="footer__divider"></div>
	<LocalTime client:visible />
	<p class="footer__copyright">&copy; {new Date().getFullYear()} - Shindra David.</p>
	<p class="footer__credit">Built with Astro and Svelte by yours truly.</p>
</footer>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;

	.footer {
		font-size: var(--fs-sm);
		text-align: center;
		padding: {
			top: $spacing-lg;
			bottom: $spacing-lg;
		}
		@include page-lr-padding;

		&__divider {
			border-top: 1px solid var(--divider);
			padding: {
				top: $spacing-sm;
				bottom: $spacing-sm;
			}
		}
	}
</style>
