---
import MainLayout from '@layouts/MainLayout.astro';

const seoMetadata: SeoMetadata = {
	title: 'Browse through my work',
	description: 'Find answers to questions am frequently asked.'
};
---

<MainLayout {...seoMetadata}>
	<h1>Portfolio</h1>
</MainLayout>

<style lang="scss"></style>
