---
import MainLayout from '@layouts/MainLayout.astro';
---

<head slot="head">
	<title>Browse through my work</title>
	<meta name="description" content="Find answers to questions am frequently asked." />
</head>

<MainLayout>
	<h1>Portfolio</h1>
</MainLayout>

<style lang="scss"></style>
