---
import BaseLayout from '@layouts/BaseLayout.astro';

const seoMetadata: SeoMetadata = {
	title: 'Courses',
	description: 'Find answers to questions am frequently asked.'
};

const schema = JSON.stringify({});
---

<BaseLayout {...seoMetadata} schema={schema}>
	<main>
		<h1>Courses</h1>
	</main>
</BaseLayout>

<style lang="scss"></style>
